<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FFXIV_PerformHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <FFXIV_PerformHelper.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>759, 398</value>
            </setting>
            <setting name="NoteSpeed" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="StartDelay" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BarX0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BarX1" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="BarX2" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="BarX3" serializeAs="String">
                <value>92</value>
            </setting>
            <setting name="BarX4" serializeAs="String">
                <value>122</value>
            </setting>
            <setting name="BarX5" serializeAs="String">
                <value>185</value>
            </setting>
            <setting name="BarX6" serializeAs="String">
                <value>216</value>
            </setting>
            <setting name="BarX7" serializeAs="String">
                <value>247</value>
            </setting>
            <setting name="BarX8" serializeAs="String">
                <value>278</value>
            </setting>
            <setting name="BarX9" serializeAs="String">
                <value>309</value>
            </setting>
            <setting name="BarX10" serializeAs="String">
                <value>340</value>
            </setting>
            <setting name="BarX11" serializeAs="String">
                <value>371</value>
            </setting>
            <setting name="BarX12" serializeAs="String">
                <value>434</value>
            </setting>
            <setting name="BarWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="BarHeight" serializeAs="String">
                <value>425</value>
            </setting>
        </FFXIV_PerformHelper.Properties.Settings>
    </userSettings>
</configuration>